[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=pommed GTK client
Comment=A graphical client for pommed
Icon=gpomme
Exec=gpomme
StartupNotify=true
Type=Application
Categories=Utility
