[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=pommed GTK client
Comment=A graphical client for pommed
Exec=gpomme
StartupNotify=true
Type=Application
Categories=Application;Utility
