[Desktop Entry]
Version=1.0
Name=pommed GTK client configuration GUI
Comment=A graphical client for pommed (configuration GUI)
Icon=gpomme
Exec=gpomme -c
StartupNotify=true
Type=Application
Categories=Utility
